body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header{
    text-align: center;
    background-color: rgb(54, 54, 196);
    color: white;
    padding: 15px;
}

h1{
    font-size: 3em;
}

.container{
    margin: 0 auto;
    max-width: 1200px;  /*peu importe la taille de l'écran , mon élément sera au max 1200px */
    padding: 10px;
}

ul{
    list-style-type: none;
}

.item-liste{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
    box-shadow: 12px 12px 2px 1px rgb(41, 159, 112);
}

.item-liste img{
    width: 300px;
}

.item-liste h2{
    font-size: 1.4em;
    margin: 0;
    padding: 10px;
    min-width: 200px;
}

.item-liste p{
    margin: 0;
    padding: 10px;
    color:rgb(44, 66, 57);
}

.item-liste a{
    text-decoration: none;
    min-width: 100px;
    padding: 10px;
    /* font-size: 1.5em; */
    background-color: rgb(124, 209, 164);
    border-radius: 25px;
    color: rgb(0, 0, 0);
}

@media screen and (max-width:768px) {
    .container{
        max-width: 95%;
    }

    .item-liste{
        flex-direction: column;
    }
}

